.finance-container {
  max-width: 100%;
  margin: 5px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.finance-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
  display: block;
}

.filter-section {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin-bottom: 25px;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-group label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.filter-group input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-family: Arial, sans-serif;
}

.btn-filter,
.btn-export,
.btn-view {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: background-color 0.2s;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-filter {
  background-color: #c1c3c3;
  color: #000;
}

.btn-filter:hover {
  background-color: #c0d6dd;
}

.btn-export {
  background-color: rgb(47, 38, 116);
  color: #c1b6b6;
}

.btn-export:hover {
  background-color: #ad408c;
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.summary-box {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.summary-box .label {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.summary-box .value {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.box-pink {
  border-color: rgb(22, 13, 54);
  background-color: #fff9fe;
}

.box-black {
  background-color: #0a1040;
  color: #ffffffd8;
  border-color: #000;
}
.box-black .value,
.box-black .label {
  color: #ffffffc2;
}

.table-wrapper {
  border: 0.2px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.finance-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.finance-table th {
  background-color: #f0f0f0;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.finance-table td {
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #444;
}

.finance-table tr:hover {
  background-color: #fdfdfd;
}

.btn-view {
  padding: 6px 12px;
  font-size: 11px;
  background-color: #c1c3c3;
  border: none;
  border-radius: 4px;
}

.btn-view:hover {
  background-color: #6d7071;
}
