.manage-inventory-container {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  background: #f7f7f7;
  min-height: 100vh;
}

.manage-inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.manage-inventory-header h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.add-btn {
  background: #0c3b78;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.add-btn:hover {
  background: #0f5dc1;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
  text-align: left;
}

.admin-table th,
.admin-table td {
  padding: 12px 14px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #d1d1d1;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.admin-table th:last-child,
.admin-table td:last-child {
  border-right: none;
}

.admin-table th {
  background: #e0f2ff;
  font-weight: 700;
}

.admin-table tr:hover {
  background: #f5faff;
}

.admin-table th:nth-child(1),
.admin-table td:nth-child(1) {
  width: 10%;
}

.admin-table th:nth-child(2),
.admin-table td:nth-child(2) {
  width: 25%;
}

.admin-table th:nth-child(3),
.admin-table td:nth-child(3) {
  width: 20%;
}

.admin-table th:nth-child(4),
.admin-table td:nth-child(4) {
  width: 15%;
}
.admin-table th:nth-child(5),
.admin-table td:nth-child(5) {
  width: 20%;
}

.admin-table button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  transition: 0.2s;
}

.admin-table button:hover {
  opacity: 0.8;
}

.admin-table td button:nth-child(1) {
  background-color: #0e3974;
  color: white;
}

.admin-table td button:nth-child(2) {
  background-color: #ab4039;
  color: white;
}

.admin-table td button:nth-child(3) {
  background-color: #ffc107;
  color: #333;
}

.admin-table td button:nth-child(3):hover {
  background-color: #e0a800;
}
