.manage-order-container {
  max-width: 100%;
  margin: 5px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.manage-order-container h2 {
  margin-bottom: 20px;
}

.order-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.order-filters label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
}

.order-filters select {
  margin-top: 5px;
  padding: 5px;
}

.order-card {
  display: flex;
  gap: 20px;
  border: 2px solid #ddd;
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.order-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;
}

.order-actions .actions-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.order-actions button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  background-color: #c1c3c3;
}

.order-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-header span:first-child {
  font-size: 16px;
  color: #333;
}

.order-status {
  color: #fff;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.order-products {
  border-top: 0.2px solid #eee;
  border-bottom: 0.2px solid #eee;
  padding: 10px 0;
  margin-bottom: 10px;
}

.order-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.order-total {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
}
.order-actions button:hover {
  background-color: #6d7071;
}

.action-titles {
  text-align: center;
  font-weight: bold;
}
