.product-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  height: 330px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-2px);
}

.product-card img {
  width: calc(100% + 20px);
  margin: -10px 0 0 -10px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.product-name {
  color: rgb(33, 33, 142);
  font-size: 16px;
  margin: 10px 0 2px 0;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.product-brand {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.product-price {
  font-weight: 600;
  color: red;
  margin: 0;
  align-self: flex-end;
}
.product-card .divider {
  border-top: 1px solid #ccc;
  margin: 5px 0;
}
